body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    margin-bottom: 0%;
}
.contain-flexible .half-width .heading-position p{
    margin-bottom: 80px;
}

h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.767);
    font-weight: bolder lighter;
    line-height: 25px;
    
}

h2{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
    
    color: #333;
}
h3{
    font-size: 45pxs;
    font-weight: bolder;
}

    .orange-color{
        color: rgba(255, 166, 0, 0.849);
        font-weight: 900;

    }

    .contain-flexible{
        display: flex;
    }

    .half-width{
        width: 45%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 100px;
        padding-bottom: 15px;
    }

    .half-width-image{
        width: 100%;
        padding-bottom: 8px;
        
    }

    .heading-position{
        margin: 40px;
        padding-left: 30px;
        padding-top: 50px;

    }
    .link-button{
        text-decoration: none;
        font-weight: bold;
        background-image: linear-gradient(salmon,orange);
        color: whitesmoke;
        padding: 15px 25px;
        border-radius: 25px;
        
    }

    .contain-flexible .half-width p
    {
        margin-bottom: 90px;
    }

    .added-back{
       background-image: url(images/shapes/Frame\ 58.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
    }

    #aliegn-center{
        text-align: center;
        max-width: 600px;

    }
    .cinter{
        display: flex;
        justify-content: center;
    }

    .my-recipie{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
    }

    .third-part{
        width: 35%;
        height:30% ;
        box-shadow: 10px 15px 40px gray;
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 4px;
        border-radius: 20px;
    }
    .cover-photo{
        width: 90%;
        border-radius: 10px;
        padding: 9px 4px 5px 9px ;
    }
    #first-part{
        padding-left: 10px;
        padding-right: 5px;
    }
    #second-part{
        padding-left: 10px;
        padding-right: 5px;
    }
    #last-part{
        padding-left: 10px;
        padding-right: 5px;
    
    }

    .flower-count{
        text-align: center;
        max-width: 800px;
        box-shadow: 5px 5px 10px gray; 
        border-radius: 10px;
        margin-left: 15%;
        margin-right: 5%;
       
    }
    .for-padding{
        padding-bottom: 100px;
    }

    .healthy-food{
        text-align: center;
        max-width: 1200px;
        height: 120%;
    } 
footer   p{
        color:white;
        font-weight: 300;
    }
     .heightt{
        background-color: rgba(0, 0, 0, 0.932);
    }

    footer h2 .orange-color{
        color: orange;
    }
